<app-title></app-title>

<form id="outerContainer" >
  <div class="formGroup">
    <label for="username"> Username</label>
    <input
      #user
      name="username"
      class="text-box"
      (keyup)="checkUsername(user.value)"
      type="text"
      id="username"
    />
    <div *ngIf="userErr" id="usernameError">
      <p class="error">{{ userErrMsg }}</p>
    </div>
  </div>

  <div class="formGroup">
    <label for="username"> Password</label>
    <input
      #pass
      class="pwd-text"
      name="username"
      type="password"
      (keyup)="validatePassword(pass.value)"
      id="password"
    />
    <div *ngIf="passErr" id="passwordError">
      <p class="passerror">{{ passErrMsg }}</p>
    </div>
  </div>

  <div id="login" class="formGroup">
    <button (click)="redirect()" [disabled]="disable" type="submit">
      Log in</button>
  </div>
</form>
