<label for="username"> Username</label>
<!-- <input
  [(ngModel)]="userInput"
  (ngModelChange)="checkUsername($event)"
  name="username"
  class="text-box"
  type="text"
  id="username"
/> -->
<input
  #username
  name="username"
  class="text-box"
  (keyup)="checkUsername(username.value)"
  type="text"
  id="username"
/>
<div *ngIf="userErr">
  <p #userError class="error" id="userError">{{ userErrMsg }}</p>
</div>

<label for="username"> Password</label>
<input
  #pass
  class="pwd-text"
  name="username"
  type="password"
  (keyup)="validatePassword(pass.value)"
  id="password"
/>
<div *ngIf="passErr">
  <p class="passerror" id="passError">{{ passErrMsg }}</p>
</div>

<div>
  <button type="submit">Log in</button>
</div>
